$font-path: "../assets/fonts";

$app-direction: ltr;

@import "ionic.globals";


$colors: (
  primary:    #3466a8,
  secondary:  #5a97e8,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222
);

$toolbar-md-background: color($colors, primary);
$tabs-md-background: color($colors, primary);
$tabs-md-tab-color-active: color($colors, light);
$list-md-background-color: color($colors, secondary);
$list-md-text-color: color($colors, light);

@import "ionic.theme.default";
@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
